<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans>
        <bean class="com.liu.springboot.bean.Monster" id="monsterXml">
            <property name="id" value="1"></property>
            <property name="name" value="2"></property>
            <property name="age" value="3"></property>
            <property name="skill" value="4"></property>
        </bean>
    </beans>
</beans>